{{#each smoothies as |smoothie|}}
  <section data-id="{{smoothie.id}}">
    <h4>
      Smoothie no. <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updating-modal" data-smoothy-id="{{smoothie.id}}">{{smoothie.id}}</button>
    </h4>
    <h6>Name</h6>
    {{smoothie.name}}
    <h6>Base:</h6>
    {{smoothie.base}}
    <h6>Fruits:</h6>
    {{smoothie.fruit}}
    <h6>Vegetables:</h6>
    {{smoothie.vegetable}}
    <h6>Boosters:</h6>
    {{smoothie.booster}}
    <h6>Thickener:</h6>
    {{smoothie.thickener}}
  </section>
  <hr>
{{/each}}
